.gogrid {
  display: grid;
  grid-template-columns: repeat(var(--numCols), 1fr);
  grid-template-rows: repeat(var(--numRows), 1fr);
  gap: 2px;
  background-color: rgba(0, 0, 0, 0.05);
  border: 1px solid grey;
  border-radius: 10px;
  align-items: center;
  justify-items: center;
  padding: 5px;
}

.gogrid-item:hover {
  background-color: #992bed;
  cursor: pointer;
}

.gogrid-item:active {
  background-color: #ffffff;
  cursor: pointer;
}

.gogrid-item-alive {
  background-color: #ffffff;
  color: #ffffff;
  text-align: center;
  border: 1px solid grey;
  border-radius: 10px;
}

.gogrid-item-dead {
  background-color: #000000;
  color: #000000;
  text-align: center;
  border: 1px solid grey;
  border-radius: 10px;
}
